// Import varibili
@use './partials/variables' as *;

/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

// Import partziali CSS
@import './partials/header';
@import './partials/footer';


main {
    background-color: $primary;
    width: 100%;

    // Test
    height: 500px;
}